In [1]:
#Step 1: Read CSV file into a dataframe

import pandas as pd

#Read in the files
df = pd.read_csv('user-freq.csv')

In [2]:
df.head(25)

   OwnerUserId  Count
0         7777   3942
1        40669   2902
2        16101   2310
3           93   1427
4        16993   1297
5          127   1211
6        46894   1169
7        12989   1102
8         5418   1061
9        73791    954
10       64903    907
11          67    813
12       10813    806
13         102    788
14       61983    743
15       61096    703
16       13470    686
17       88183    656
18       14388    606
19       93810    606
20       14577    571
21         886    560
22       40006    558
23       26028    547
24       59502    544

In [6]:
users = df.groupby(['Count']).count()
users.head()

       OwnerUserId
Count
1            20379
2             3269
3             1455
4              758
5              546

In [7]:
# Step 5: Storing the results in a new csv file

users.to_csv('user-frequency2.csv')